@tailwind base;

.dataTables_wrapper select, .dataTables_wrapper .dataTables_filter input {
  color: #4a5568 !important;
  padding: 0.5rem 1rem !important;
  line-height: 1.25 !important;
  border-width: 2px !important;
  border-radius: 0 !important; 		
  border-color: #edf2f7 !important;
  background-color: #edf2f7 !important;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #ebf4ff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover		{
  font-weight: 700 !important;
  border-radius: 0 !important;
  border: 1px solid transparent !important;
  color: white !important;
  cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
  color: #fff !important;
  font-weight: 700 !important;
  border-radius: 0 !important;
  background: #2a4365 !important;
  border: 1px solid transparent !important;
  margin-bottom: 16px !important;
  cursor: pointer;
}
  
table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0 !important;
  margin-top: 0.75em auto !important;
}
  
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  background-color: #2a4365 !important;
}

.dataTables_info {
  padding-left: 10px !important;
}

.parsley-errors-list {
  color: #c53030 !important;
  font-weight: bold !important;
  margin-top: 8px !important;
}


@tailwind components;

@tailwind utilities;
